/* GLOBAL RESETS */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*

TABLE OF CONTENTS

# GLOBAL RESETS
# BASE TYPOGRAPHY
# BUTTONS
# MEDIA
  # RESPONSIVE IMAGES
  # HELPERS
# LAYOUT
  # CONTAINER
  # MEDIA QUERIES
  # CUSTOM SEMANTIC GRID SYSTEM
# STRUCTURE
  # SITE HEADER
  # SITE MAP
  # MAIN
    # SECTIONS
  # SITE FOOTER


*/
/* BASE TEXT COLORS */
body {
  color: rgba(0, 0, 0, 0.8);
}

/* BASE HEADLINES */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(0, 0, 0);
}

/* BASE TEXT FONTS */
body {
  font-family: arial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif, dnp-shuei-nshogomincho-std;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;

}

p {
  font-family: sans-serif, a-otf-gothic-mb101-pr6n;
  font-weight: 300;
  font-style: normal;
}

.site-id h1 {
  font-family: eb-garamond, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25em;
  line-height: 1.2;
  text-align: left;
  background: none;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: currentColor;
  color: white;
  font-family: "mr-eaves-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* BASE TYPOGRAPHY */
body {
  font-size: 100%;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
}

/* TRADITIONAL TYPOGRAPHY SCALE */
h1 {
  font-size: 3em;
  line-height: 1;
}

h2 {
  font-size: 2em;
  line-height: 1.1;
}

h3 {
  font-size: 1.25em;
  line-height: 1.2;
  text-align: center;
  background: linear-gradient(to right,
      hsl(348, 96%, 67%),
      hsl(230, 95%, 70%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

h4 {
  font-size: 1.1em;
  line-height: 1;
  text-align: left;
}

h5 {
  font-size: 0.9em;
  line-height: 1.1;
}

h6 {
  font-size: 0.7em;
  line-height: 1.2;
}

/* LIMIT NUMBER OF CHARACTERS PER LINE */
p {
  max-width: 45em;
  font-size: 0.9em;
}

/* LINKS */
a {
  color: #7cddca;
}

a:hover {
  color: #04715b;
}

/* HORIZONTAL LINE */
hr {
  border: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 3em 0;
}

/* TYPE SPECIMEN */
.headline {
  font-size: 4em;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  color: rgb(255, 187, 0);
}

.subheadline {
  font-weight: 400;
  font-size: 2.5em;
  line-height: 1.1;
  color: rgba(0, 0, 0, 0.5);
  margin: 0.25em 0;
}

/* SECTION HEADING */
.section-heading {
  font-size: 1em;
  font-family: multi-text, arial;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 3em 0;
}

/* 12/6 */
/* .content-box {
  width: 100px;
  height: 400px;
} */
.hide-visually {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

hr {
  background-color: red;
  height: 5px;
}

.info hr {
  background-color: greenyellow;
}

/* POSITION ONE IMAGE ON TOP OF ANOTHER */
.parent {
  position: relative;
  top: 0;
  left: 0;
}

.artwork {
  position: relative;
  top: 0;
  left: 0;
}

.selfimg {
  position: absolute;
  top: 350px;
  left: 70 px;
  border: 1px white solid;
}

/* BUTTONS */
.button {
  width: 100%;
  display: inline-block;
  color: black;
  text-decoration: none;
  margin-top: 2em;
  padding: 1em 1em;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% AUTO;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(to right, #f6f365 0%, #fda085 51%, #f6d365 100%);
}

.button:hover {
  background-position: right center;
}

.button1 {
  width: 100%;
  display: inline-block;
  background-color: #000000;
  color: black;
  text-decoration: none;
  padding: 1em 1em;
  margin-top: 2em;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% AUTO;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.button1:hover {
  background-position: right center;
}

/* ARTIST */
.name {
  vertical-align: top;

}

/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}

.artborder {
  border: 10px solid white;
  box-shadow: 0 0 0 4px grey, 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

/* RESET BODY */
body {
  margin: 0;
}

/* CONTAINER */
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 3em 1em;
}

/* SIDE-CONTAINER */
.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.sectiontitle {
  text-align: center;
}

.newstitle {
  text-align: left;
}

.date {
  text-align: right;
}

/* BREADCRUMB */
ul.breadcrumb {
  padding: 2px 16px;
  list-style: none;
  background-color: transparent;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 12px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #bcbcbc;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* MEDIA QUERIES */
/* RESPONSIVE TYPOGRAPHY */
body {
  font-size: 87.5%;
}

@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
}

/* @media (min-width: 1250px) {
  body {
    font-size: 112.5%;
  }
} */

@media (min-width: 768px) {
  .two-col-with-aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .two-col-with-aside>section {
    width: 58.33%;
  }

  .two-col-with-aside aside,
  .two-col-with-aside .aside-content {
    width: 33.33%;
  }
}

/* SEMANTIC GRID */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1%;
  margin-right: -1%;
  align-items: center;
  /* margin-bottom: 1em; */
  width: 100%;
}

.row>* {
  margin: 1%;
  flex-grow: 1;
}

.row.centered {
  justify-content: center;
}

.row.swapped {
  flex-direction: row-reverse;
}

.row.stacked {
  flex-direction: column;
}

.row.align-top {
  align-items: flex-start;
}

@media (min-width: 768px) {
  .row>* {
    flex-grow: 0;
  }

  .row .one-whole {
    width: 98%;
  }

  .row .one-half {
    width: 48%;
  }

  .row .one-third {
    width: 31.3333%;
  }

  .row .two-thirds {
    width: 64.6666%;
  }

  .row .one-fourth {
    width: 23%;
  }

  .row .three-fourths {
    width: 73%;
  }

  .row .push-one-fourth {
    margin-left: 26%;
  }

  .row .push-one-third {
    margin-left: 34.3333%;
  }

  .row .push-one-half {
    margin-left: 51%;
  }

  .row .centered {
    margin-left: auto;
    margin-right: auto;
  }
}

/* GRID WITH A GAP */
.row.withgap {
  /* background: yellow; */
  gap: 2%;
}

.row.withgap.reverse {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-start;
}

.row.withgap .column {
  /* background: aqua; */
}

@media (min-width: 768px) {

  .row.withgap .column.one-fourth {
    width: 22%;
  }

  .row.withgap .column.four-ninths {
    width: 28%;
  }

  .row.withgap .column.five-ninths {
    width: 35%;
  }

  .row.withgap .column.push-one-fourth {
    margin-left: 27%;
  }
}

.demo .row {
  margin-bottom: 0;
}

.demo .row>* {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1%;
}

/* SITE STRUCTURE */
.site-header {
  position: absolute;
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header .site-id {
  display: flex;
  align-items: center;
}

.site-header .site-id h1 {
  color: black;
  margin: 0;
  font-size: 1.5em;
}

.site-header .logomark {
  margin-right: 0.7em;
}

.site-header a {
  color: white;
  text-decoration: none;
}

/* SITE FOOTER */
.site-footer {
  background: #FEE6E3;
  padding: 0.5em;
}

.site-footer a {
  color: black;
  text-decoration: none;
}

.site-footer p {
  font-family: "mr-eaves-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.site-footer .container {
  padding: 0.5em;
}

@media (min-width: 768px) {
  .site-footer .row {
    justify-content: space-between;
  }

  .site-footer .one-fourth {
    width: 25%;
  }

  .site-footer .one-whole {
    text-align: center;
  }
}


.site-main {
  background-color: f6f0f0;
  /* overflow-x: hidden; */
  /*padding-bottom: 6em;*/
}



/* HERO SECTION */
.hero {
  /* background-color: #FFD2CF; */
  text-align: center;
  padding: 4em 0 2em 0;
  /* min-height: 101vh; */
  color: rgba(255, 255, 255, 0.8);
  /* display: flex; */
  /* align-items: center; */
}

.hero h1 {
  margin-bottom: 0.25em;
  color: white;
  /* background-image: url("image/bg_home_navi");
  background-repeat: no-repeat, repeat;
  /* background-color: #cccccc; */
  /* color: rgb(255, 255, 255); */
}

.hero p {
  margin: 1em auto;
  color: white;
}

.hero.bg-img {
  background-image: url("../image/sunset_background_image.jpg");
  /* min-height: 1200px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.thumbgroup {
  align-items: flex-start;
}

.thumbgroup img {
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
}

.container_video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside-content {
  justify-content: space-between;
}

label {
  width: 300px;
}

/* SITE-NAV */
.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav a {
  display: inline-block;
  padding: 1em;
  line-height: 1;
}

.homepage .site-nav ul {
  background: red;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(0, 0);
  transition: all 0.3s ease-out;
  z-index: 100;
}

.homepage .site-nav[data-navstate=closed] ul {
  transform: translate(100%, 0%);
}

.homepage .site-nav li {
  opacity: 0;
  transform: translate(50px, 0);
  transition: 0.3s opacity linear 0s, 0.2s;
  transition: 0.3s opacity linear 0s, 0.2s transform ease-out 0.2s;
  transition: 0.3s opacity linear 0s, 0.2s transform ease-out 0.2s, 0.2s;
}

.homepage .site-nav li:nth-child(0) {
  transition-delay: 0.2s;
}

.homepage .site-nav li:nth-child(1) {
  transition-delay: 0.3s;
}

.homepage .site-nav li:nth-child(2) {
  transition-delay: 0.4s;
}

.homepage .site-nav li:nth-child(3) {
  transition-delay: 0.5s;
}

.homepage .site-nav li:nth-child(4) {
  transition-delay: 0.6s;
}

.homepage .site-nav li:nth-child(5) {
  transition-delay: 0.7s;
}

.homepage .site-nav li:nth-child(6) {
  transition-delay: 0.8s;
}

.homepage .site-nav li:nth-child(7) {
  transition-delay: 0.9s;
}

.homepage .site-nav[data-navstate=open] .menu-button {
  position: fixed;
  top: 1.9em;
  right: 1.5em;
}

.homepage .site-nav[data-navstate=open] li {
  opacity: 1;
  transform: translate(0, 0);
}

.homepage .site-nav[data-navstate=closed] li {
  transition: none;
}

.homepage .site-nav .menu-button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 0.7em;
  z-index: 200;
}

.homepage .site-nav .menu-button svg {
  display: block;
}

.homepage .site-nav .menu-button svg rect {
  fill: white;
}

.homepage .site-nav .menu-button svg.simple-x-animation rect {
  transform-origin: center;
  transition: all 0.3s ease-out;
}

.homepage .site-nav[data-navstate=open] .menu-button svg.simple-x-animation #menubar-top {
  transform: translate(-5px, 9px) rotate(30deg);
}

.homepage .site-nav[data-navstate=open] .menu-button svg.simple-x-animation #menubar-mid {
  transform: scale(0, 1);
}

.homepage .site-nav[data-navstate=open] .menu-button svg.simple-x-animation #menubar-bot {
  transform: translate(-5px, -9px) rotate(-30deg);
}

.homepage .site-nav .menu-button svg.squish-x-animation rect {
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.homepage .site-nav .menu-button svg.squish-x-animation #menubar-top {
  -webkit-animation-name: squish-x-top-close;
  animation-name: squish-x-top-close;
}

.homepage .site-nav .menu-button svg.squish-x-animation #menubar-bot {
  -webkit-animation-name: squish-x-bot-close;
  animation-name: squish-x-bot-close;
}

.homepage .site-nav[data-navstate=open] .menu-button svg.squish-x-animation #menubar-top {
  -webkit-animation-name: squish-x-top-open;
  animation-name: squish-x-top-open;
}

.homepage .site-nav[data-navstate=open] .menu-button svg.squish-x-animation #menubar-mid {
  opacity: 0;
  -webkit-transition: all 0s linear 0.25s;
  transition: all 0s linear 0.25s;
}

.homepage .site-nav[data-navstate=open] .menu-button svg.squish-x-animation #menubar-bot {
  -webkit-animation-name: squish-x-bot-open;
  animation-name: squish-x-bot-open;
}

@-webkit-keyframes squish-x-top-open {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }

  100% {
    -webkit-transform: translate(-5px, 9px) rotate(30deg);
    transform: translate(-5px, 9px) rotate(30deg);
  }
}

@keyframes squish-x-top-open {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }

  100% {
    -webkit-transform: translate(-5px, 9px) rotate(30deg);
    transform: translate(-5px, 9px) rotate(30deg);
  }
}

@-webkit-keyframes squish-x-bot-open {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
  }

  100% {
    -webkit-transform: translate(-5px, -9px) rotate(-30deg);
    transform: translate(-5px, -9px) rotate(-30deg);
  }
}

@keyframes squish-x-bot-open {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
  }

  100% {
    -webkit-transform: translate(-5px, -9px) rotate(-30deg);
    transform: translate(-5px, -9px) rotate(-30deg);
  }
}

@-webkit-keyframes squish-x-top-close {
  0% {
    -webkit-transform: translate(-5px, 9px) rotate(30deg);
    transform: translate(-5px, 9px) rotate(30deg);
  }

  50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes squish-x-top-close {
  0% {
    -webkit-transform: translate(-5px, 9px) rotate(30deg);
    transform: translate(-5px, 9px) rotate(30deg);
  }

  50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-webkit-keyframes squish-x-bot-close {
  0% {
    -webkit-transform: translate(-5px, -9px) rotate(-30deg);
    transform: translate(-5px, -9px) rotate(-30deg);
  }

  50% {
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes squish-x-bot-close {
  0% {
    -webkit-transform: translate(-5px, -9px) rotate(-30deg);
    transform: translate(-5px, -9px) rotate(-30deg);
  }

  50% {
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.subpage .site-header {
  background-color: blue;
  position: static;
}

/* CSS ANIMATIONS */
/* ANIMATE THE HERO ON LOAD */
.hero h1 {
  -webkit-animation-name: jd-scaleup;
  animation-name: jd-scaleup;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}

.hero p {
  -webkit-animation-name: jd-scaleup;
  animation-name: jd-scaleup;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}

.hero .button-group a {
  -webkit-animation-name: jd-scaleup;
  animation-name: jd-scaleup;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}

.hero .button-group a:nth-child(1) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.hero .button-group a:nth-child(2) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.hero .button-group a:nth-child(3) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

@-webkit-keyframes jd-scaleup {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes jd-scaleup {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* ANIMATE SECTION 1 ON SCROLL */
#section1.scroll-triggered[data-sectionstate=inactive] .jd-contentblock-image {
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  opacity: 0;
}

#section1.scroll-triggered[data-sectionstate=inactive] .jd-contentblock-text {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  opacity: 0;
}

#section1.scroll-triggered[data-sectionstate=active] .jd-contentblock-image {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 1s ease-out 0.5s;
  transition: all 1s ease-out 0.5s;
}

#section1.scroll-triggered[data-sectionstate=active] .jd-contentblock-text {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 1s ease-out 0.5s;
  transition: all 1s ease-out 0.5s;
}

/* ANIMATE SECTION 2 ON SCROLL */
#section2.scroll-triggered[data-sectionstate=inactive] {
  background-color: white;
}

#section2.scroll-triggered[data-sectionstate=inactive] .jd-contentblock-image {
  -webkit-transform: translateY(200px);
  transform: translateY(200px);
  opacity: 0;
}

#section2.scroll-triggered[data-sectionstate=inactive] .jd-contentblock-text {
  -webkit-transform: translateY(-200px);
  transform: translateY(-200px);
  opacity: 0;
}

#section2.scroll-triggered[data-sectionstate=active] {
  background-color: white;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#section2.scroll-triggered[data-sectionstate=active] .jd-contentblock-image {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#section2.scroll-triggered[data-sectionstate=active] .jd-contentblock-text {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

/* ANIMATE SECTION 3 ON SCROLL */
#section3 .jd-contentblock-image {
  position: relative;
  margin-top: 4em;
}

#section3 .jd-character {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

#section3.scroll-triggered[data-sectionstate=inactive] .jd-character {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

#section3.scroll-triggered[data-sectionstate=active] .jd-character {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 1s ease-out 0.5s;
  transition: all 1s ease-out 0.5s;
}

label,
input {
  display: block;
}

input {
  margin-bottom: 1em;
}

input[type=text] {
  width: 100%;
}

textarea {
  width: 100%;
}


/* SERVICES SECTION STYLES */

#services {
  background-color: #FFF5F4;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

#services .column {
  display: flex;
  /* background-color: white; */
}

#services img {
  margin-right: 1em;
  width: 20px;
  height: 20px;
}

.about p {
  text-align: left;
  margin: 0 auto;
  width: 1000px;
}

/* GRADUAL BACKGROUND COLOR CHANGE */
.bg-colors {
  display: flex;
  position: fixed;
  left: 0;
  top: 40px;
  width: 100%;
  height: auto;
  background: #eee5ac;
  overflow: atuo;
  animation: colorchange 60s infinite;
}

.lc {
  width: 90%;
  padding: .8em 0;
  margin: auto;

}

@media only screen and (min-width: 50em) {
  .lc {
    max-width: 50rem;
  }
}

@media only screen and (min-width: 33.75em) {
  .lc {
    padding: 2em 0;
  }
}



/* vertical align the items */
.v-align-outer:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}

.v-align-inner {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}


@keyframes colorchange {
  0% {
    background: #7AD8F5;
    color: white;
  }

  20% {
    background: #9342A6;
    color: white;
  }

  40% {
    background: #dc463e;
    color: white;
  }

  60% {
    background: #FECF87;
  }

  61% {
    color: #333;
  }

  80% {
    background: #AEE77E;
  }

  81% {
    color: white;
  }

  100% {
    background: #7AD8F5;
    color: white;
  }
}

/* GENERIC FORM STYLING */
label>span,
input,
textarea,
button {
  box-sizing: border-box;
}

label {
  display: block;
}

label>span {
  /* display: none; */
}

input,
textarea,
button,
select {
  width: 100%;
  padding: 0.5em;
  margin: 0 0 1em 0;
  border: 1px solid #ccc;
}

input,
textarea,
button {
  border: none;
}

input[type="text"],
input[type="email"],
textarea,
select {
  border: 1px solid #ccc;
}

input.invalid,
textarea.invalid {
  border-color: #d5144d;
}

textarea {
  height: 6em;
}

input[type="submit"],
button {
  background: #FFE4E0;
  color: #333;
}

input[type="submit"]:hover,
button:hover {
  background: #FFD2CF;
}

/* CONTACT FORM STYLING */

.contactus {
  background-color: #FFF5F4;
}

.contactus p {
  text-align: center;
  margin: 0 auto;
  width: 1000px;
}

#contact-form {
  background-color: #FFF5F4;
}

#contact-form .container {
  max-width: 600px;
}

#contact,
#contact label,
#contact input[name="submit"] {
  position: relative;
}

/* PRIVATE POLICY */
/* .policy {
  padding:
} */

/* LANGUAGE SWITCHER */
/* .languageswitcher {
  background: red;
} */

.languageswitcher ul {
  display: none;
}

.languageswitcher span {
  margin-left: .5em;
}

.languageswitcher:hover ul {
  display: block;
}

.languageswitcher a {
  padding-bottom: 0;
  display: flex;
  align-items: center;
}


/* CARD */
.card h4 {
  margin-top: 30px;
  text-align: center;
}

.card p {
  padding-top: 20px;
  text-align: center;
  margin-top: 0;
}

.card a {
  text-decoration: none;
  display: block;
  padding: 0 1em;
}

.card {
  background-color: #f7f5f2;
  box-shadow: 3px 5px #e7e7e7;
  border-radius: 7px;
  max-width: 240px;
  margin: auto;
  text-align: center;
  padding-bottom: 3px;
  position: relative;
}

.card img {
  position: relative;
  z-index: 2;
  width: 60%;
  padding-top: 47px;
}

.card .title {
  color: grey;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
}

.card:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #b641f7;
  height: 35%;
  content: "";
  z-index: 1;
  border-radius: 7px 7px 0 0;
  /* box-shadow: 3px 5px #ae6fbf; */
}

/*TOOLTIP*/
.tooltip {
  position: relative;
  display: block;
}

.tooltip:hover .tooltip_text {
  display: block;
}

.tooltip_text {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  white-space: nowrap;
  display: none;
}

/* .container {
  background: pink;
  max-width: 1200px;
  margin: 0 auto;
} */


/* .about {
  display: flex;
  align-items: flex-start;
  place-items: flex-start;
} */

/* .row .column.p {
  vertical-align: top;
  padding-top: 0;
} */

/* BIGUNDERLINE UNDER THE HEADING */
.bigunderline {
  position: relative;
  margin-bottom: 2em;
}

.bigunderline::after {
  content: "";
  width: 300vh;
  position: absolute;
  bottom: -0.2em;
  left: -100vh;
  z-index: -1;
  border-bottom: 1px solid black;
}

.page-home .hero {
  background-image: url("../image/bg_home_navi.jpg");
  background-size: cover;
}

.page-home .hero .container {
  padding-bottom: 1em;
}

.page-ourdesigners .hero {
  background-image: url("../image/bg_ourdesigners.jpg");
  background-size: cover;
}

.page-christel .hero {
  background-image: url("../image/bg_christel.jpg");
  background-size: cover;
}

.page-contact .hero {
  background-image: url("../image/bg_contact.jpg");
  background-size: cover;
}




/* ANIMATION BOX */
.animation-box {
  width: 100%;
  max-width: 800px;
  /*   height: 27.5rem; */
  padding: 1em;
  /* background-color: pink; */
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  /* padding: 2em 1em 2em 2em; */
}

/* .animation-container {
  width: 1920rem;
  height: 15rem;
} */

@keyframes topFadeOut {
  0% {
    transform: translate(0, -3rem);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes bottomFadeOut {
  0% {
    transform: translate(0, 3rem);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes rightFadeInOut {
  0% {
    transform: translate(3rem, 0);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.first-text {
  font-size: 1.3rem;
  /*   position: absolute;
  left: 2.5rem;
  top: 3.5rem; */
  margin-top: 1em;
  text-align: left;
  opacity: 1;
  animation-name: topFadeOut;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  color: #000000;
}

.second-text {
  font-size: 1.3rem;
  /*   position: absolute;
  top: 10rem; */
  align-self: center;
  opacity: 0;
  animation-name: rightFadeInOut;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  color: #000000;
  padding: 1em 0 1em 0;
}


.third-text {
  font-size: 1rem;
  /*   position: absolute;
  left: 20%;
  bottom: 25%; */
  align-self: flex-end;
  text-align: center;
  opacity: 0;
  color: #000000;
  animation-name: bottomFadeOut;
  animation-delay: 3s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

/* SITE POLICY */
.policy {
  margin: 2em;
  display: block;
}

.policy .container {
  max-width: 680px;
}

.policy h3 {
  margin-bottom: 1.5em;
  background: none;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: currentColor;
}

.policy .p {
  font: 1em;
}

#page-wrap .container_video {
  width: 1200px;
  margin: 0 auto;
}

/* * {
  border: 1px solid red;
} */

/* CUSTOME CARD GRID */
.card-row {
  display: flex;
  flex-wrap: wrap;
}

.card-wrapper {
  width: 25%;
  margin-bottom: 3em;
}

.card-wrapper .card {
  height: 100%;
}