// TO HIDE SOMETHING VISUALLY
.hide-visually {
    position: absolute;
    top: -9999px;
    left: -9999px;

}

hr {
    background-color: red;
    height: 5px;
}

.info hr {
    background-color: greenyellow;
}