/* SITE STRUCTURE */

.site-header {
    position: absolute;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .site-id {
        display: flex;
        align-items: center;

        h1 {
            color: white;
            margin: 0;
            font-size: 1.5em;
        }
    }

    .logomark {
        margin-right: .7em;
    }
    
    a {
        color: white;
        text-decoration: none;
    }



}

/* SITE FOOTER */
.site-footer {
    background: #FEE6E3; 
    padding: 1em;
    
    a {
        color: white;
        text-decoration: none;
    }

    @media (min-width: $breakpoint-small){
        .row {
            justify-content: space-between;
        }

        .one-third { 
            width: 25%; 
        }
    }

    #email_form {
        padding-top: 1em;
        display: flex;

        input[type="text"] {
            padding: 0.8em;

        }

        input[type="submit"]{
            background-color: red;

        } 

    }

}


.site-main {
    overflow-x: hidden;
    padding-bottom: 6em;
}


section {
    padding: 4em 0;
    // min-height: 101vh;
}


.two-up {
    display: flex;
  }
  
  h6 { 
    margin: 0;
  }
  
  .one-third {
    width: 26%;
    margin: 1%;
    color: #AD8C08;
  }


/* HERO SECTION */

.hero {
    background-color: $color-accent-dark;
    text-align: center;
    padding: 8em 0 4em 0;
    min-height: 101vh;
    color: $color-text-body-light;
    display: flex;
    align-items: center;

    h1 {
        margin-bottom: .25em;
        color: $color-text-headings-light;
    }
    
    p {
        margin: 1em auto;
    }
}

.hero.bg-img {
    background-image: url("../image/sunset_background_image.jpg");
    min-height: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.thumbgroup {
    align-items: flex-start;
}

.thumbgroup img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container_video {
    display: flex;
}

/* 12/2 */
.row .one-half {
    width: 10%;
    display: flex;
}

.aside-content {
    // display: flex;
    justify-content: space-between;
}

label {
    width: 300px;
}